In [1]:
import numpy as np
import pandas as pd

detail_one=pd.read_excel(r'C:/Users/nswdwy_yu/Desktop/data11/meal_order_detail.xlsx')

# print('订单详情表的所有值为:','\n',detail_one.values)
# print('订单详情表的列名为:','\n',detail_one.columns)
# print('订单详情表的数据类型为:','\n',detail_one.dtypes)   
# print('订单详情表的元素个数为:','\n',detail_one.size)
# print('订单详情表的维度数为:','\n',detail_one.ndim)
# print('订单详情表的形状个数为:','\n',detail_one.shape)

In [2]:
print('订单详情表的所有值为:','\n',detail_one.values)
print('订单详情表的列名为:','\n',detail_one.columns)
print('订单详情表的数据类型为:','\n',detail_one.dtypes)   
print('订单详情表的元素个数为:','\n',detail_one.size)
print('订单详情表的维度数为:','\n',detail_one.ndim)
print('订单详情表的形状个数为:','\n',detail_one.shape)

订单详情表的所有值为:
 [[2956 417 610062 ... nan 'caipu/104001.jpg' 1442]
 [2958 417 609957 ... nan 'caipu/202003.jpg' 1442]
 [2961 417 609950 ... nan 'caipu/303001.jpg' 1442]
 ...
 [6756 774 609949 ... nan 'caipu/404005.jpg' 1138]
 [6763 774 610014 ... nan 'caipu/302003.jpg' 1138]
 [6764 774 610017 ... nan 'caipu/302006.jpg' 1138]]
订单详情表的列名为:
 Index(['detail_id', 'order_id', 'dishes_id', 'logicprn_name',
       'parent_class_name', 'dishes_name', 'itemis_add', 'counts', 'amounts',
       'cost', 'place_order_time', 'discount_amt', 'discount_reason',
       'kick_back', 'add_inprice', 'add_info', 'bar_code', 'picture_file',
       'emp_id'],
      dtype='object')
订单详情表的数据类型为:
 detail_id                     int64
order_id                      int64
dishes_id                     int64
logicprn_name               float64
parent_class_name           float64
dishes_name                  object
itemis_add                    int64
counts                        int64
amounts                       int64
cost                        float64
place_order_time     datetime64[ns]
discount_amt                float64
discount_reason             float64
kick_back                   float64
add_inprice                   int64
add_info                    float64
bar_code                    float64
picture_file                 object
emp_id                        int64
dtype: object
订单详情表的元素个数为:
 52801
订单详情表的维度数为:
 2
订单详情表的形状个数为:
 (2779, 19)

In [3]:
detail_one

,detail_id,order_id,dishes_id,logicprn_name,parent_class_name,dishes_name,itemis_add,counts,amounts,cost,place_order_time,discount_amt,discount_reason,kick_back,add_inprice,add_info,bar_code,picture_file,emp_id
0,2956,417,610062,NaN,NaN,蒜蓉生蚝,0,1,49,NaN,2016-08-01 11:05:36,NaN,NaN,NaN,0,NaN,NaN,caipu/104001.jpg,1442
1,2958,417,609957,NaN,NaN,蒙古烤羊腿\r\n\r\n\r\n,0,1,48,NaN,2016-08-01 11:07:07,NaN,NaN,NaN,0,NaN,NaN,caipu/202003.jpg,1442
2,2961,417,609950,NaN,NaN,大蒜苋菜,0,1,30,NaN,2016-08-01 11:07:40,NaN,NaN,NaN,0,NaN,NaN,caipu/303001.jpg,1442
3,2966,417,610038,NaN,NaN,芝麻烤紫菜,0,1,25,NaN,2016-08-01 11:11:11,NaN,NaN,NaN,0,NaN,NaN,caipu/105002.jpg,1442
4,2968,417,610003,NaN,NaN,蒜香包,0,1,13,NaN,2016-08-01 11:11:30,NaN,NaN,NaN,0,NaN,NaN,caipu/503002.jpg,1442
5,1899,301,610019,NaN,NaN,白斩鸡,0,1,88,NaN,2016-08-01 11:15:57,NaN,NaN,NaN,0,NaN,NaN,caipu/204002.jpg,1095
6,1902,301,609991,NaN,NaN,香烤牛排\r\n,0,1,55,NaN,2016-08-01 11:19:12,NaN,NaN,NaN,0,NaN,NaN,caipu/201001.jpg,1095
7,1906,301,609983,NaN,NaN,干锅田鸡,0,1,88,NaN,2016-08-01 11:22:21,NaN,NaN,NaN,0,NaN,NaN,caipu/205003.jpg,1095
8,1907,301,609981,NaN,NaN,桂圆枸杞鸽子汤,0,1,48,NaN,2016-08-01 11:22:53,NaN,NaN,NaN,0,NaN,NaN,caipu/205001.jpg,1095
9,1908,301,610030,NaN,NaN,番茄有机花菜,0,1,32,NaN,2016-08-01 11:23:56,NaN,NaN,NaN,0,NaN,NaN,caipu/304004.jpg,1095
10,1910,301,610011,NaN,NaN,白饭/大碗,0,1,10,NaN,2016-08-01 11:31:15,NaN,NaN,NaN,0,NaN,NaN,caipu/601005.jpg,1095
11,2916,413,609966,NaN,NaN,芝士烩波士顿龙虾,0,1,175,NaN,2016-08-01 12:42:52,NaN,NaN,NaN,0,NaN,NaN,caipu/101001.jpg,1147
12,2919,413,609965,NaN,NaN,葱姜炒蟹,0,1,109,NaN,2016-08-01 12:43:21,NaN,NaN,NaN,0,NaN,NaN,caipu/102005.jpg,1147
13,2921,413,609936,NaN,NaN,皮蛋瘦肉粥,0,1,16,NaN,2016-08-01 12:43:34,NaN,NaN,NaN,0,NaN,NaN,caipu/602002.jpg,1147
14,2923,413,609978,NaN,NaN,爆炒鳝碌,0,1,55,NaN,2016-08-01 12:44:08,NaN,NaN,NaN,0,NaN,NaN,caipu/106003.jpg,1147
15,2925,413,609983,NaN,NaN,干锅田鸡,0,1,88,NaN,2016-08-01 12:44:12,NaN,NaN,NaN,0,NaN,NaN,caipu/205003.jpg,1147
16,2927,413,610050,NaN,NaN,番茄甘蓝,0,1,33,NaN,2016-08-01 12:45:09,NaN,NaN,NaN,0,NaN,NaN,caipu/301004.jpg,1147
17,2926,413,609984,NaN,NaN,重庆特色油烧兔,0,1,69,NaN,2016-08-01 12:45:24,NaN,NaN,NaN,0,NaN,NaN,caipu/205004.jpg,1147
18,2928,413,610013,NaN,NaN,番茄炖秋葵,0,1,35,NaN,2016-08-01 12:46:26,NaN,NaN,NaN,0,NaN,NaN,caipu/302002.jpg,1147
19,2930,413,610032,NaN,NaN,长城窖酿解百纳红酒干红葡萄酒,0,1,35,NaN,2016-08-01 12:48:48,NaN,NaN,NaN,0,NaN,NaN,caipu/401001.jpg,1147
20,2932,413,609973,NaN,NaN,紫薯面包卷,0,1,20,NaN,2016-08-01 12:49:27,NaN,NaN,NaN,0,NaN,NaN,caipu/502003.jpg,1147
21,2934,413,610007,NaN,NaN,桂圆肉红豆八宝饭,0,1,39,NaN,2016-08-01 12:50:03,NaN,NaN,NaN,0,NaN,NaN,caipu/601001.jpg,1147
22,2938,415,609964,NaN,NaN,避风塘炒蟹,0,1,48,NaN,2016-08-01 12:51:38,NaN,NaN,NaN,0,NaN,NaN,caipu/102004.jpg,1166
23,2935,413,609992,NaN,NaN,番茄炖牛腩\r\n\r\n\r\n,0,1,35,NaN,2016-08-01 12:51:46,NaN,NaN,NaN,0,NaN,NaN,caipu/201002.jpg,1147
24,2936,413,610012,NaN,NaN,香菇鹌鹑蛋,0,1,39,NaN,2016-08-01 12:52:18,NaN,NaN,NaN,0,NaN,NaN,caipu/302001.jpg,1147
25,2940,415,610064,NaN,NaN,花蛤蒸蛋,0,1,37,NaN,2016-08-01 12:52:37,NaN,NaN,NaN,0,NaN,NaN,caipu/104003.jpg,1166
26,2937,413,610023,NaN,NaN,啤酒鸭,0,1,48,NaN,2016-08-01 12:53:39,NaN,NaN,NaN,0,NaN,NaN,caipu/204006.jpg,1147
27,2939,413,609931,NaN,NaN,焖猪手,0,1,58,NaN,2016-08-01 12:54:30,NaN,NaN,NaN,0,NaN,NaN,caipu/203002.jpg,1147
28,2643,392,609930,NaN,NaN,豌豆薯仔猪骨汤,0,1,39,NaN,2016-08-01 12:58:44,NaN,NaN,NaN,0,NaN,NaN,caipu/203001.jpg,1094
29,2942,415,609959,NaN,NaN,小炒羊腰\r\n\r\n\r\n,0,1,36,NaN,2016-08-01 12:59:03,NaN,NaN,NaN,0,NaN,NaN,caipu/202005.jpg,1166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2749,6335,732,609944,NaN,NaN,水煮鱼,0,1,65,NaN,2016-08-10 20:19:03,NaN,NaN,NaN,0,NaN,NaN,caipu/103005.jpg,1153
2750,6336,732,609952,NaN,NaN,美妙绝伦之白莲花,0,1,29,NaN,2016-08-10 20:19:22,NaN,NaN,NaN,0,NaN,NaN,caipu/303003.jpg,1153
2751,5074,616,609970,NaN,NaN,麻辣小龙虾,0,1,99,NaN,2016-08-10 20:37:48,NaN,NaN,NaN,0,NaN,NaN,caipu/101006.jpg,1133
2752,5075,616,610001,NaN,NaN,土豆西红柿汤面,0,1,13,NaN,2016-08-10 20:39:37,NaN,NaN,NaN,0,NaN,NaN,caipu/603005.jpg,1133
2753,6088,716,609970,NaN,NaN,麻辣小龙虾,0,1,99,NaN,2016-08-10 20:41:10,NaN,NaN,NaN,0,NaN,NaN,caipu/101006.jpg,1112
2754,6091,716,609942,NaN,NaN,辣炒鱿鱼,0,1,58,NaN,2016-08-10 20:41:29,NaN,NaN,NaN,0,NaN,NaN,caipu/103003.jpg,1112
2755,6094,716,609946,NaN,NaN,谷稻小庄,0,1,38,NaN,2016-08-10 20:46:41,NaN,NaN,NaN,0,NaN,NaN,caipu/404002.jpg,1112
2756,6098,716,609953,NaN,NaN,凉拌菠菜,0,1,27,NaN,2016-08-10 20:47:14,NaN,NaN,NaN,0,NaN,NaN,caipu/303004.jpg,1112
2757,6106,716,609957,NaN,NaN,蒙古烤羊腿\r\n\r\n\r\n,0,1,48,NaN,2016-08-10 20:47:17,NaN,NaN,NaN,0,NaN,NaN,caipu/202003.jpg,1112
2758,6103,716,609944,NaN,NaN,水煮鱼,0,1,65,NaN,2016-08-10 20:47:36,NaN,NaN,NaN,0,NaN,NaN,caipu/103005.jpg,1112
2759,5076,616,610000,NaN,NaN,酸辣汤面,0,1,16,NaN,2016-08-10 20:48:31,NaN,NaN,NaN,0,NaN,NaN,caipu/603004.jpg,1133
2760,5080,616,610033,NaN,NaN,张裕葡萄酒张裕赤霞珠干红\r\n\r\n\r\n,0,1,32,NaN,2016-08-10 20:49:20,NaN,NaN,NaN,0,NaN,NaN,caipu/402002.jpg,1133
2761,6111,716,609960,NaN,NaN,白胡椒胡萝卜羊肉汤,0,1,35,NaN,2016-08-10 20:50:11,NaN,NaN,NaN,0,NaN,NaN,caipu/202006.jpg,1112
2762,6115,716,609955,NaN,NaN,红酒炖羊肉,0,1,108,NaN,2016-08-10 20:50:12,NaN,NaN,NaN,0,NaN,NaN,caipu/202001.jpg,1112
2763,6120,716,609983,NaN,NaN,干锅田鸡,0,1,88,NaN,2016-08-10 20:51:37,NaN,NaN,NaN,0,NaN,NaN,caipu/205003.jpg,1112
2764,6116,716,609974,NaN,NaN,南瓜枸杞小饼干,0,1,19,NaN,2016-08-10 20:51:42,NaN,NaN,NaN,0,NaN,NaN,caipu/502004.jpg,1112
2765,6125,716,609991,NaN,NaN,香烤牛排\r\n\r\n\r\n,0,1,55,NaN,2016-08-10 20:52:09,NaN,NaN,NaN,0,NaN,NaN,caipu/201001.jpg,1112
2766,6127,716,610011,NaN,NaN,白饭/大碗,0,1,10,NaN,2016-08-10 20:52:12,NaN,NaN,NaN,0,NaN,NaN,caipu/601005.jpg,1112
2767,6131,716,610038,NaN,NaN,芝麻烤紫菜,0,1,25,NaN,2016-08-10 20:53:09,NaN,NaN,NaN,0,NaN,NaN,caipu/105002.jpg,1112
2768,6128,716,610022,NaN,NaN,杭椒鸡珍,0,1,58,NaN,2016-08-10 20:53:26,NaN,NaN,NaN,0,NaN,NaN,caipu/204005.jpg,1112
2769,6135,716,610020,NaN,NaN,泡椒凤爪\r\n\r\n\r\n,0,1,58,NaN,2016-08-10 20:56:10,NaN,NaN,NaN,0,NaN,NaN,caipu/204003.jpg,1112
2770,6137,716,610031,NaN,NaN,糖醋蕃茄溜青花,0,1,33,NaN,2016-08-10 20:57:11,NaN,NaN,NaN,0,NaN,NaN,caipu/304005.jpg,1112
2771,6734,774,609941,NaN,NaN,清蒸海鱼,0,1,78,NaN,2016-08-10 21:50:35,NaN,NaN,NaN,0,NaN,NaN,caipu/103002.jpg,1138
2772,6736,774,609944,NaN,NaN,水煮鱼,0,1,65,NaN,2016-08-10 21:53:17,NaN,NaN,NaN,0,NaN,NaN,caipu/103005.jpg,1138
2773,6739,774,609994,NaN,NaN,独家薄荷鲜虾牛肉卷\r\n\r\n\r\n,0,1,45,NaN,2016-08-10 21:55:58,NaN,NaN,NaN,0,NaN,NaN,caipu/201004.jpg,1138
2774,6750,774,610011,NaN,NaN,白饭/大碗,0,1,10,NaN,2016-08-10 21:56:24,NaN,NaN,NaN,0,NaN,NaN,caipu/601005.jpg,1138
2775,6742,774,609996,NaN,NaN,牛尾汤,0,1,40,NaN,2016-08-10 21:56:48,NaN,NaN,NaN,0,NaN,NaN,caipu/201006.jpg,1138
2776,6756,774,609949,NaN,NaN,意文柠檬汁,0,1,13,NaN,2016-08-10 22:01:52,NaN,NaN,NaN,0,NaN,NaN,caipu/404005.jpg,1138
2777,6763,774,610014,NaN,NaN,金玉良缘,0,1,30,NaN,2016-08-10 22:03:58,NaN,NaN,NaN,0,NaN,NaN,caipu/302003.jpg,1138
2778,6764,774,610017,NaN,NaN,酸辣藕丁,0,1,33,NaN,2016-08-10 22:04:30,NaN,NaN,NaN,0,NaN,NaN,caipu/302006.jpg,1138

In [4]:
#数据的读取

order_id=detail_one['order_id']
print('订单详情表中的order_id的形状为:','\n',order_id[:5])

订单详情表中的order_id的形状为:
 0    417
1    417
2    417
3    417
4    417
Name: order_id, dtype: int64

## loc, iloc ,lx的区别

In [5]:
dishes_name1=detail_one.loc[:,'dishes_name']
dishes_name1.head()

0                 蒜蓉生蚝
1    蒙古烤羊腿\r\n\r\n\r\n
2                 大蒜苋菜
3                芝麻烤紫菜
4                  蒜香包
Name: dishes_name, dtype: object

In [6]:
dishes_name2=detail_one.iloc[:,5]
dishes_name2.head()

0                 蒜蓉生蚝
1    蒙古烤羊腿\r\n\r\n\r\n
2                 大蒜苋菜
3                芝麻烤紫菜
4                  蒜香包
Name: dishes_name, dtype: object

In [7]:
#dishes_name2.ix[:4]
detail_one.ix[2:6,'dishes_name']

F:\Python_All\Anaconda3-5.1.0\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

2        大蒜苋菜
3       芝麻烤紫菜
4         蒜香包
5         白斩鸡
6    香烤牛排\r\n
Name: dishes_name, dtype: object

In [8]:
detail_one.loc[3,['order_id','dishes_name']]

order_id         417
dishes_name    芝麻烤紫菜
Name: 3, dtype: object

In [9]:
detail_one.iloc[(detail_one['order_id']==458).values,[1,5]]

     order_id        dishes_name
145       458              蒜香辣花甲
146       458               剁椒鱼头
147       458            凉拌蒜蓉西兰花
148       458               木须豌豆
149       458               辣炒鱿鱼
150       458               酸辣藕丁
151       458              炝炒大白菜
152       458              香菇鸡肉粥
153       458               干锅田鸡
154       458            桂圆枸杞鸽子汤
155       458  五香酱驴肉\r\n\r\n\r\n
156       458           路易拉菲红酒干红
157       458              避风塘炒蟹
158       458              白饭/大碗

In [10]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [11]:
a=Series({'a':1,'b':2,'c':3})
print(a)
print(a.ndim)
print(a.index)

a    1
b    2
c    3
dtype: int64
1
Index(['a', 'b', 'c'], dtype='object')

In [12]:
a.name = 'state'
print(a)

a    1
b    2
c    3
Name: state, dtype: int64

In [13]:
a.index=['as','2','3']
print(a)

as    1
2     2
3     3
Name: state, dtype: int64

In [14]:
b=np.copy(a)
print(b)

[1 2 3]

In [15]:
a.drop('as')

2    2
3    3
Name: state, dtype: int64

In [16]:
import numpy as np
c=DataFrame(np.arange(16).reshape(4,4),index=[1,2,3,4],
            columns=['one','two','three','four'])
print(c)

   one  two  three  four
1    0    1      2     3
2    4    5      6     7
3    8    9     10    11
4   12   13     14    15

In [17]:
c.drop(['one'],axis=1)    #删除指定轴数据    axis=1 列   ==0  行

   two  three  four
1    1      2     3
2    5      6     7
3    9     10    11
4   13     14    15

In [18]:
d=Series(np.arange(4),index=['a','b','c','d'])
print(d)

a    0
b    1
c    2
d    3
dtype: int32

In [19]:
a[1:3]

2    2
3    3
Name: state, dtype: int64

In [20]:
a.sort_values

<bound method Series.sort_values of as    1
2     2
3     3
Name: state, dtype: int64>

In [21]:
a.value_counts()

3    1
2    1
1    1
Name: state, dtype: int64

In [22]:
from numpy import nan as NA
data=Series([1,NA,3,6,0])

In [23]:
data

0    1.0
1    NaN
2    3.0
3    6.0
4    0.0
dtype: float64

In [24]:
data.dropna()

0    1.0
2    3.0
3    6.0
4    0.0
dtype: float64

In [25]:
data1=DataFrame([[1,2,3],[2,NA,3],[NA,NA,NA],[3,4,2]])
print(data1)

     0    1    2
0  1.0  2.0  3.0
1  2.0  NaN  3.0
2  NaN  NaN  NaN
3  3.0  4.0  2.0

In [26]:
data1.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  2.0  NaN  3.0
3  3.0  4.0  2.0

In [27]:
data1.fillna(0)

     0    1    2
0  1.0  2.0  3.0
1  2.0  0.0  3.0
2  0.0  0.0  0.0
3  3.0  4.0  2.0

In [28]:
data.replace(1,'ss')``

SyntaxError: invalid syntax (<ipython-input-28-241175849ca7>, line 1)

In [ ]:
data1.replace(['2','3'],1)

In [ ]:
ages = [18,20,36,23,34,45,32,45,67,88]
bins = [18,22,35,60,100]

In [ ]:
import pandas as pd
cats = pd.cut(ages,bins)
print(cats)

## DateFrame

In [ ]:
a1 = DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]})

In [ ]:
a2= DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]},index=['1','2','3'])

In [ ]:
a2

In [ ]:
data= {'year':[1,2,3],'month':[4,5,6],'day':[7,8,9]}

In [ ]:
frame = DataFrame(data,columns=['year','month','day'],index=['one','two','three'])

In [ ]:
frame

In [ ]:
s=frame.copy()
s

In [ ]:
s['year']=1,2,3
s

In [ ]:
frame

## 排序

In [ ]:
a = Series(range(4),index=['e','g','f','h'])

In [ ]:
a

In [ ]:
a.sort_index()

In [ ]:
b = DataFrame(np.arange(8).reshape(2,-1),index=['three','one'],columns=['d','a','c','b'])
b

In [ ]:
#axis分0,1轴
b.sort_index(axis=0)

In [ ]:
b.sort_index(axis=1)

In [ ]:
c = DataFrame({'a':[4,5,2,1],'b':[0,2,3,1]})
c

In [ ]:
c.sort_values(by='b')

In [ ]:
c.sort_values(by=['a','b'])

In [ ]:
a.is_unique

In [ ]:
a.index.is_unique

In [ ]:
df = DataFrame([[1,2,4,3],[4,5,6,2]],index=['one','two'],columns=['a','b','c','d'])

In [ ]:
df

## 描述统计

In [ ]:
df.sum()

In [ ]:
df.cumsum()

In [ ]:
df

In [ ]:
df.describe()

## scipy.stats统计函数

In [ ]:
###读取数据和简单的数据探索
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

from sklearn import datasets
iris = datasets.load_iris()

iris.keys()
print(iris.DESCR)#数据描述
iris.data.shape
iris.feature_names

X = iris.data[:,:2]
X.shape
plt.scatter(X[:,0],X[:,1])
plt.show()
y = iris.target
plt.scatter(X[y==0,0],X[y==0,1] ,color='red')#y所在0行0列和0行1列
plt.scatter(X[y==1,0],X[y==1,1] ,color='blue',marker='o')#marker设置不同样式
plt.scatter(X[y==2,0],X[y==2,1] ,color='green',market='+')
plt.show()

## 小案例